#### Compliance helps organizations move faster, not slower
A common misconception of Compliance is that it slows an organization down and is all about telling
team members not to do something.
In fact, Compliance is about helping organizations move _faster_. Compliance reduces the risk of mistakes
that could cause damage from happening, which means that users are more free to experiment and try new things
than they would be otherwise.

Compliance also helps teams move faster because it helps them be confident that once they have completed
their configuration, they can rely on and trust it to enforce what they have configured. They
no longer need to worry or perform manual checks to continually re-confirm there is not a problem - compliance
controls ensure things are behaving as they should. This frees up the team to focus on other activities that can
add additional business value.

Compliance controls also help businesses navigate and pass audits successfully. Audits can be very time-consuming,
as auditors will require specific records to show that various processes were followed, certain artifacts were produced,
and that violations did not occur. Without a robust compliance system, this can be very manual
and incredibly difficult to do. Compliance helps organizations provide to auditors what they need easily and quickly,
so that they can pass audits without issues. When audits are easier and take less time, businesses are able to focus
on continuing to advance their products and services, instead of spending time on gathering artifacts for audits
or implementing remediative actions from the audit.

<%= partial("direction/manage/compliance/templates/categories") %>
